{{ define "chart" }}
<article
    id="speedtest-history-chart"
    class="chart"
    breakpoint="{{.Breakpoint}}">
    {{html .SVG}}
    <span id="chart-tooltip"></span>
    <legend>Variance of download & upload speed</legend>
</article>
{{ end }}
